* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 

a {
    text-decoration: none;
}

button {
    background-color: #7c3d4a;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}

button:hover {
    background-color: #ad586a;
}

/* Header style */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 150px;    
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 999;
    background-color: black;
}

header .logo a {
    color: #4e879e;
}

header .links-header a {
    color: #5994ad;
    margin-right: 15px;
}

header .links-header a:hover {
    color: #3d697c;
}
/* Header style */

/* Section cv style*/
.cv {
    /* margin: 100px 0; */
    background-color: #5994ad;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 150px 150px;   
    flex-wrap: wrap;
}

.cv .text {
    /* width: 100%; */
    width: 550px;
    margin-top: 30px;
}

.cv .text-cv h2{
    font-weight: 700;
    color: #fff;

}

.cv .text-cv h3{
    font-weight: 700;
    font-size: 50px;
    margin-top: 20px;
}

.cv .text-cv p{
    font-size: 30px;
    margin-top: 20px;
    color: #fff;
}



.my-photo img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    
}

.links-cv a{
    margin: 20px 10px 20px 0;
    color: #7158ad;
}

.links-cv a:hover {
    color: #9d8bc6;
}

/* Section cv style*/

/* Section Services Style */
.services {
    margin-top: 50px;
    margin-left: 20px;
}

.services h1{
    display: flex;
    justify-content: center;
    color: #5994ad;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin: 50px 100px 0;
    flex-wrap: wrap; 
    gap: 20px
}

.card {
    width: 300px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    text-align: center;
    padding: 10px;
    transition: .7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon  {
    font-size: 50px;
    color: #5994ad;
}

.card .text h3{
    margin-top: 10px;
    color: #5994ad;
}

.card .text p{
    margin-top: 10px;
}

/* Section Services Style */


/* Section Projects Style */
.projects {
    background-color: #5994ad;
    margin-top: 20px;
    padding: 20px;
}

.projects h1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
}

.projects .cards {
    color: white;
    margin-top: 0px;
}



.projects .cards .icon i {
    color: white;
    margin-bottom: 10px;
}

.projects .cards .text a{
    color: white;
}
/* Section Projects Style */

/* Section Contacts Style */
.contact {
    margin-top: 20px;
    padding: 20px;
    /* overflow: hidden; */
}

.contact h1 {
    display: flex;
    justify-content: center;
    color: #5994ad;
}

.contact .cards {
    /* width: 600px; */
    margin: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .text p {
    font-weight: 600;
    font-size: 20px;
}

/* Section Contacts Style */

/* Section Footer Style */
.footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #5994ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer .text {
    font-size: 15px;
}

.footer .text span {
    color: black;
}

.footer .icons a {
    color: white;
    margin-left: 10px;
}

.footer .icons a:hover {
    color: #fccc;
}

.img-pro {
    width: 100px;
    height: 100px;
}

/* Section Footer Style */

@media (max-width: 1200px) {
    .cv {
        display: flex;
        gap: 50px;
    }

    .services .card {
        margin-top: 20px;
    }

    img {
        width: 20px;
        height: 20px;
    }
    
    .cv .text {
        width: 350px;
    } 
}

@media (max-width: 1050px) {
    .cv .text {
        width: 200px;
    }
}

@media (max-width: 870px) {
    
    .cv  {
        padding: 150px 15px;
    }

    
    .cv .text {
        width: 150px;
        margin-right: 200px;
    }
}

@media (max-width: 750px) {
    .cv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cv .text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        margin: 0;
    }
    
}

@media (max-width: 700px) {
    header {
        gap: 50px;
    }

    .links-header {
        display: flex;
    }

    .contact .cards .card {
        margin-top: 20px;
    }

    .cv {
        display: flex;
        padding: 150px 20px 100px;
    }

}

@media (max-width: 530px) {

    header {
        padding: 15px 50px;
    }

    .cv img {
        width: 150px;
        height: 150px;
    }

    .footer .text {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    header {
        padding: 15px 50px;
    }

    header .logo {
        font-size: 10px;
    }

    header .links-header {
        font-size: 15px;
        margin-right: 30px;
    }

    .cv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cv .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cv .text button {
        width: 100px;
    }

    .footer .text {
        font-size: 8px;
    }
}
